.divPost{
    margin: 20px 10px 10px 30px;
}
.renderdiv{
    height: 100%;
    margin: 20px 10px 10px 30px;
}
 
.buttonCar{
    width: 100%;
    height: 400%;
}
.buttonCar button{
    width:20%;
    height: 50%;
}
